node_modules/
./vscode
commit.sh
update.sh
.vs
/drivingSchool/public/js/
/drivingSchool/public/css/
/drivingSchool/public/acount/
/drivingSchool/public/img/
/drivingSchool/public/coach/
/drivingSchool/public/student/
/drivingSchool/public/information/
favicon.ico
form.bundle.js
main.bundle.js