<header>
    <div class="content-header">
        <div id="header">
            <h3 class="mainTitle">驾校管理系统</h3>
            <div class="announcement">
                <h2 id="title" class="subtitle">打造移动化、智能化、集团化的驾校管理新模式</h2>
            </div>
        </div>
    </div>
</header>