<div class="problem">
    <div class="question"></div>
    <input type="radio" name="name" class="option_a" value="A" />
    <div class="option optionA"></div>
    <input type="radio" name="name" class="option_b" value="B" />
    <div class="option optionB"></div>
    <input type="radio" name="name" class="option_c" value="C" />
    <div class="option optionC"></div>
    <input type="radio" name="name" class="option_d" value="D" />
    <div class="option optionD"></div>
</div>