<div class="problem">
    <div class="question"></div>
    <input type="radio" name="name" class="option_a" data-value="A" />
    <div class="option optionA"></div>
    <input type="radio" name="name" class="option_b" data-value="B" />
    <div class="option optionB"></div>
    <input type="radio" name="name" class="option_c" data-value="C" />
    <div class="option optionC"></div>
    <input type="radio" name="name" class="option_d" data-value="D" />
    <div class="option optionD"></div>
</div>