 <div class="fixed-table">
    <div class="fixed-table-content">
        <table class="table">
            <thead> <tr>
            <% for(var i=0;i<th.length;++i){ %>
                <th><%- th[i] %></th>
            <% } %>
            </tr> </thead> 
        </table>
    </div>
</div>